html {
    background: #f7f7f7;
    overflow: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.header {
    border-bottom: 1px solid #e0dddd;
    background-color: white;
    padding: 1.25rem;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    max-height: 87px;
}

#content {
     margin: 130px 0 50px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.help {
    font-size: 14px;
}

.app-title {
    font-size: 25px;
}

.app-title__prefix {
    text-transform: lowercase;
    margin-right: 5px;
}

.app-title__sufix {
    color: black !important;
    font-weight: bold;
    text-transform: uppercase;
}

.login-box {
    max-width: 500px;
}

.newpost-box textarea {
    height: 300px;
}

.post__link, .post__link:hover {
    color: black;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.post__link:hover {
    text-decoration: underline;
}

.post__seemore, .post__seemore:hover {
    color:hsl(0, 0%, 48%);
}

.post__seemore:hover {
    text-decoration: underline;
}

.inline-editable .inline-editable__editor {
    display: none;
}

.inline-editable.is-editing .inline-editable__editor {
    display: block;
}

.inline-editable.is-editing .inline-editable__content {
    display: none;
}

.flash-message {
    position: fixed;
    top: 85px;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 0;
}

.flash-message .delete {
    top: 0;
}

.flash-message__wrapper {
    height: 20px;
}

