{% extends "base.html" %}

{% block content %}

 <div class="container box newpost-box is-clearfix">
    <h2 class="has-text-centered title">
      {% if key %}
        Edit post
      {% else %}
        New post
      {% endif %}
    </h2>
    <form method="post">
      <p class="control">
        <input class="input" type="text" placeholder="Subject" name="subject" value="{{subject}}">
      </p>
      <p class="control">
        <textarea class="textarea" placeholder="What do you want to say?" name="content">{{content}}</textarea>
      </p>
      <p class="help is-danger">{{error}}</p>
      <p class="control">
        <button type="submit" class="button is-primary is-pulled-right">POST IT</button>
      </p>
    </form>
  </div>

{% endblock %}
