{% extends "base.html" %}

{% block header %}
   {% if user %}
    <span class="nav-item">
      <a class="button is-primary" href="/blog/newpost">
        NEW POST
      </a>
    </span>
   {% endif %}

{% endblock %}

{% block content %}
  <div class="box">
    {% with p=p, user=user, origin='post' %}
      {% include "post.html" %}
    {% endwith %}
  </div>

  <div id="comments-section">
    <h2 class="title is-4 has-text-centered">Comments</h2>
    <div class="box">
      <div class="is-clearfix">
        <form method="post" action="/blog/{{p.key.id()}}/comments/new">
          <p class="control">
            <textarea name="message" class="textarea" placeholder="What do you want to say?"></textarea>
          </p>
          <p class="control">
            {% if new_comment_error %}
              <span class="help is-danger is-pulled-left">{{new_comment_error}}</span>
            {% endif %}
            <button type="submit" class="button is-primary is-pulled-right">Comment</button>
          </p>
        </form>
      </div>
      <hr />
      {% for comment in p.comments() %}
        {% set error = (comment_error and comment_error[comment.key.id() | string]) %}
        {% if error %}
        <article class="media inline-editable is-editing">
        {% else %}
        <article class="media inline-editable">
        {% endif %}
          <div class="media-content inline-editable__content">
            <div class="content">
              <p>
                <strong>{{comment.owner.get().name}}</strong> {{comment.render_text() | safe}}
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
                <a class="level-item inline-editable__edit">
                  <span class="icon is-small"><i class="fa fa-edit"></i></span>
                </a>
                <small class="level-item">{{comment.created.strftime("%b %d, %Y")}}</small>
              </div>
            </nav>
          </div>
          <div class="media-right inline-editable__content">
            <form method="post" action="/blog/{{p.key.id()}}/comments/{{comment.key.id()}}/delete">
              <button type="submit" class="delete"></button>
            </form>
          </div>
          <form
            class="media-content inline-editable__editor"
            method="post"
            action="/blog/{{p.key.id()}}/comments/{{comment.key.id()}}/edit"
          >
            <p class="control">
              <textarea name="message" class="textarea" placeholder="What do you want to say?">{{comment.render_text() | safe}}</textarea>
            </p>
            <p class="control">
              {% if error %}
                <span class="help is-danger is-pulled-left">{{error}}</span>
              {% endif %}
              <a class="button is-link is-pulled-right inline-editable__cancel">Cancel</a>
              <button type="submit" class="button is-primary is-pulled-right">Comment</button>
            </p>
          </form>
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}