<article class="media">
  <div class="media-content">
    <div class="content">
      <a class="post__link title" href="/blog/{{p.key.id()}}">{{p.subject}}</a>
      <p>
        <small>{{p.owner.get().name}} on {{p.created.strftime("%b %d, %Y")}}</small>
        <br />
        {{p.render_text(abridged) | safe}}
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <a href="/blog/{{p.key.id()}}/edit" class="button is-primary is-inverted level-item">
          <span class="icon is-small"><i class="fa fa-edit"></i></span>
        </a>
        <form method="post" action="/blog/{{p.key.id()}}/like?origin={{origin}}">
          <button class="level-item button is-primary is-inverted">
            <span class="icon is-small">
              {%if user and p.likes_it(user) %}
                <i class="fa fa-heart"></i>
              {% else %}
                <i class="fa fa-heart-o"></i>
              {% endif %}
            </span>
          </button>
        </form>
        <span class="level-item tag">{{p.likes | length}}</span>
        <span>
          <a href="/blog/{{p.key.id()}}#comments-section" class="level-item button is-primary is-inverted">
            <span class="icon is-small"><i class="fa fa-comment-o"></i></span>
          </a>
        </span>
        <span class="level-item tag">{{p.comments() | length}}</span>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <form method="post" action="/blog/{{p.key.id()}}/delete">
      <button type="submit" class="delete"></button>
    </form>
  </div>
</article>
